# dependencies
node_modules/

# env
.env
.env.*

# build
dist/
build/

# vite
.vite/

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

package-lock.json
**/package-lock.json

package-lock-backup.json
**/package-lock-backup.json